<a href="https://colab.research.google.com/github/Salonee-Jain/ML-AI/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
cd '/content/drive/MyDrive/ML AI/EDA/student'

/content/drive/MyDrive/ML AI/EDA/student

In [7]:
ls

student-mat.csv     student-merge.R  student.txt
student-mat.gsheet  student-por.csv

In [9]:
#importing necessary library
import pandas as pd #working with csv or excel files
import numpy as np #working with numbers/ arrays/ tensors
import tensorflow as tf #framework
from tensorflow import keras #API / library 
import os #using os commands between the python language

In [16]:
mathData = pd.read_csv('student-mat.csv', sep=';') #load the csv file as dataframe
mathData.head(10)

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
5     GP   M   16       U     LE3       T  ...     2       5       10  15  15  15
6     GP   M   16       U     LE3       T  ...     1       3        0  12  12  11
7     GP   F   17       U     GT3       A  ...     1       1        6   6   5   6
8     GP   M   15       U     LE3       A  ...     1       1        0  16  18  19
9     GP   M   15       U     GT3       T  ...     1       5        0  14  15  15

[10 rows x 33 columns]

# Data Processing

Categorical to numeric value conversion

In [18]:
#unique classes/categories in every column 

print(f'school: {mathData.school.unique()}')
print(f'sex: {mathData.sex.unique()}')
print(f'address: {mathData.address.unique()}')
print(f'Mjob: {mathData.Mjob.unique()}')
print(f'Fjob: {mathData.Fjob.unique()}')
print(f'higher: {mathData.higher.unique()}')

school: ['GP' 'MS']
sex: ['F' 'M']
address: ['U' 'R']
Mjob: ['at_home' 'health' 'other' 'services' 'teacher']
Fjob: ['teacher' 'other' 'services' 'health' 'at_home']
higher: ['yes' 'no']

In [19]:
#convert the categories into numbers 

#binary valued
mathData['school'] = mathData['school'].apply({'GP':1, 'MS':2}.get)
mathData['sex'] = mathData['sex'].apply({'F':1, 'M':2}.get)
mathData['address'] = mathData['address'].apply({'U':1, 'R':2}.get)
mathData['higher'] = mathData['higher'].apply({'yes':1, 'no':2}.get)


#multi-valued
mathData['Mjob'] = mathData['Mjob'].apply({'at_home':1, 'health':2, 'other':3, 'services':4, 'teacher':5}.get)
mathData['Fjob'] = mathData['Fjob'].apply({'at_home':1, 'health':2, 'other':3, 'services':4, 'teacher':5}.get)

mathData.head(15)

    school  sex  age  address famsize  ... health  absences  G1  G2  G3
0        1    1   18        1     GT3  ...      3         6   5   6   6
1        1    1   17        1     GT3  ...      3         4   5   5   6
2        1    1   15        1     LE3  ...      3        10   7   8  10
3        1    1   15        1     GT3  ...      5         2  15  14  15
4        1    1   16        1     GT3  ...      5         4   6  10  10
5        1    2   16        1     LE3  ...      5        10  15  15  15
6        1    2   16        1     LE3  ...      3         0  12  12  11
7        1    1   17        1     GT3  ...      1         6   6   5   6
8        1    2   15        1     LE3  ...      1         0  16  18  19
9        1    2   15        1     GT3  ...      5         0  14  15  15
10       1    1   15        1     GT3  ...      2         0  10   8   9
11       1    1   15        1     GT3  ...      4         4  10  12  12
12       1    2   15        1     LE3  ...      5         2  14  14  14
13       1    2   15        1     GT3  ...      3         2  10  10  11
14       1    2   15        1     GT3  ...      3         0  14  16  16

[15 rows x 33 columns]